
- @page_title = "Cash / Bank Account"

- content_for :links do
  %div.btn-group{role: "group"}
    = link_to "New cash/bank account...", new_cash_path 

%ul#banks.accounts_list
  - @cashes.each do |cash_ac|
    %li.row-fluid
      .span7
        %h4.n
          = cash_ac.account.active
          = link_to cash_ac.account.name, cash_ac

      .span3
        .moneybox
          %label TOTAL EN CUENTA
          %h5.n
            = cash_ac.account.currency
