%h4.n.ib.muted.graph
  Graph of Daily <span class="text-success">Income</span> vs <span class="text-error">Expense</span>

%div(data-controller="dashboard")
  %div
    params

  %div(id="chart")
    replace here



