
:ruby
  @page_title = "Edit Purchase Order"
  @crumbs = [
    ['Back', purchase_order_path(@order.model_obj)] ]


= bootstrap_form_with model: @order, url:{action:"update", id:@order.model_obj}, layout: :horizontal do |f| 
  = render 'form', f:f 

