
- @page_title = "Purchase Order"

- content_for :links do
  %div.btn-group{role:"group"}
    = link_to "Export", export_expenses_path, class: 'btn btn-secondary' 

    = link_to "New Purchase Order...", new_purchase_order_path, class: 'btn btn-secondary'




= render partial: 'movements/search'


- paginate_html = paginate @orders

=paginate_html

%table.table
  - @orders.each do |order|
    = render 'purchase_orders/expense', order: order

=paginate_html

-#= render 'expenses/index_tour'
