- content_for :links do
  %ul.breadcrumbs.span6
    %li
      =link_to @inv.store, @inv.store
    %li
      %i.icon-caret-right
    %li
      商品の配達

.row-fluid
  .span12
    %h1
      %span.muted.n Operación inventario:
      = @inv.inventory.ref_number
    %h4.text-error
      Devolución de mercadería ingreso

= render 'form', inv: @inv
