
:ruby
  @page_title = "Organisations"

%p= link_to 'New Organisation...', new_organisation_path, :class => 'new'

%ul#organisations_list
  - @organisations.each do |organisation|
    %li
      - if USE_SUBDOMAIN
        = link_to organisation.name, organisation_url(organisation, subdomain: organisation.tenant), :id => organisation.id
      - else
        = link_to organisation.name, organisation_url(organisation), :id => organisation.id

:javascript
  $(function() {
    /*
      $('#organisations_list li h2 a').live("click", function(){
      var self = this, id = $(this).attr("id");
      $.getJSON('/currency_rates/' + id + '/check', function(resp) {
        if(resp.success) {
          window.location = $(self).attr("href");
        }else{
          alert("You must update rates");
        }
      });
      return false;
    })
    */
  })
