
<% @page_title = "Inventory Transfer Requests" %>

<% content_for :links do %>
  <div class="btn-group" role="group">
    <%= link_to 'New Transfer request...', new_transfer_request_path,
                :class => 'new' %>
  </div>
<% end %>


<table class="table">
  <tr>
    <th></th>
  </tr>

<% @orders.each do |transfer_request| %>
  <tr>
    <td><%= link_to transfer_request.id, transfer_request %>
<% end %>
</table>

