
:ruby
  @page_title = "Account: " + @account.name 
  @crumbs = [
    ["Chart of Accounts", accounts_path] ]


- content_for :links do
  %div.btn-group{role: "group"}
    = link_to 'Edit...', edit_account_path(@account), :class => 'btn'
    = button_to 'Destroy', account_path(@account), data:{turbo_confirm:'Sure?'}, method: :delete



.moneybox.fl
  %label SALDO EN CUENTA

%table.table
  %tr
    %th Name:
    %td= @account.name



:javascript
  $(function() {
    $('#show_cash_info').click(function() {
      if($(this).html() == "Ver información") {
        $('#cash_info').show("slow")
        $(this).html("Ocultar información");
      }else{
        $('#cash_info').hide("slow")
        $(this).html("Ver información");
      }
    });
  })


